services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: internship
      POSTGRES_PASSWORD: internship
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    environment:
      RAILS_ENV: development
      POSTGRES_USER: internship
      POSTGRES_PASSWORD: internship
      POSTGRES_HOST: db
    command: bash -c "bundle exec rails db:create db:migrate && bundle exec rails s -b 0.0.0.0 -p 3000"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  dbdata:
